.accordion-button{
  padding:10px;
}


.item_body {
  padding: 5px;
  /* background-color: #eaecee; */
}

.btn-outline-secondary {
  margin-bottom: 10px;
}

.subsite, .author, .comment, .like, .view{
  margin-right: 40px;
}

.title, .post_body {
  margin-bottom: 5px;
  margin-top: 5px;
}

a {
  text-decoration: none;
  color:  #17202a;
}

a:hover {
  text-decoration: none;
  color:  #21618c;
  /* color: #2c3e50; */
}


#content_vc {
  background-color: rgba(254, 235, 239, 0.8);
  border-radius: 10px
}

#content_dtf {
  background-color: rgba(217, 245, 255, 0.6);
  border-radius: 10px
}


#content_tjournal {
  background-color: rgba(255, 244, 226, 0.9);
  border-radius: 10px
}

.fs-3{
  margin-left: 10px
}


.accordion-item{
  border: 1px solid rgba(0, 0, 0, 0.3);
}
